* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
  }
  
  .accueil {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    display: block;
  }
  
  .en-tete {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: #ff6600ea;
    z-index: 2;
  }
  
  .logoci{
    width: 54px;
    height: 45px;
    margin-top: -3px;
  }
  .logosp {
    width: 56px;
    height: 52px;
    margin-top: -3px;

  }
  .logosdroite{
    gap: 6px;
  }
  .logoprincip{
    font-size: 30px;
    font-weight: "bold";
  }
  
  .menu .nav {
    gap: 1rem;
  }
  
  .menu .nav-link {
    font-weight: 500;
  }
 .degrade{
  position: relative;
  width: 100%;
  height: auto;
}  
  .degrade::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,
      rgba(255, 102, 0, 0.21) 0%,
      rgba(255, 102, 0, 0.75) 100%
    );
    z-index: 1;
    pointer-events: none;
  }
  .callToAction {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: white;
    z-index: 2;
    max-width: 400px;
}
.btn-degrade {
    background-color:#149414;
}
.btn.btn-submit{
  background-color: #149414;
  width: 200px;
  color: white;
}    
.btn.btn-submit:hover{
  color: #149414;
  border: 2px solid #149414;
}
.bouton{
  text-align: right;
  margin: 5px;
  padding: 3px;
}
.bouton a:hover{
  border:  2px solid #149414;
}
.arondi{
    background: #D9D9D9;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.icone{
   width: 75px;
   height: 75px;
   object-fit: contain;
}
  .avantages{
   background: #d9d9d980;
   padding: 30px 0;;
  }
  .illustration{
    display: flex;
    align-items: center;
    background-color: #d9d9d980;
    height: 300px;
  }

  video{
    width: 500px;
    height: auto;
    margin-left: 200px;
    margin-right: 35px;
  }
  h2{
    color: #FF6600;
  }
  footer{
    background-color: #FF6600;
    width: 100%;
    height: auto;
  }
  .footer-logo {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .footer-description {
    margin-top: 10px;
    font-size: 14px;
  }

  .liens ul {
    padding: 0;
  }
  
  .liens ul li {
    margin-bottom: 5px;
  }
  
  .liens ul li a {
    color: white;
    text-decoration: none;
  }
  
  .liens ul li a:hover {
    text-decoration: underline;
  }
  
  footer .media {
    margin-right: 10px;
  }


  .ci-footer {
    width: 44px;
    height: 35px;
    gap: 4px;

  
  }
  .sp-footer{
    width: 45px;
    height: 35px;
    gap: 4px;

  }
  .ci-div,.sp-div>p{
   font-size: x-small;
  }
.youtube{
  width: 40px;
  height: auto;
  margin-top: 10px;
} 
.facebook{
  width: 30px;
  height: auto;
  margin-bottom: 2px;
  margin: 5px;
}
.gmail{
  width: 30px;
  height: auto;
  margin: 10px;
} 

.desc{
  margin-top: 10px;
}
.copy{
  text-align: center;
}

.menu {
  display: block;
}
 .menuburger{
    display: none;
    width: 30px;
  }
 .btn{
  background-color: #149414;
 } 
 .upload-area{
  border: 2px dahed #aaaa;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  color: #aaa;
  transition: background-color 0.3s;
 }
 .upload-area.dragover{
  background-color: #e0f7fa;
  border-color:  #00bcd4;
 }


@media (max-width: 768px) {
  
  .menuburger{
    display: block;
    width: 25px;
    margin-top: -13px;
    cursor: pointer;
  }

  .menu {
  display: none;
  flex-direction: column;
  background-color: #ff6600;
  position: absolute;
  top: 90px; 
  right: 0;
  width: 350px;
  height: 400px;
  z-index: 10;
  padding: 1em;

  }
  .menu .nav {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    padding: 0;
    margin: 0;
  }
  
  .menu .nav-link {
    display: block;
    color: white !important;
    text-decoration: none;
    padding: 10px 15px;
    text-align: right;
  }
  
  .nav-item{
    display: block;
  }
  .menu.active {
    display: flex; /* s'affiche en colonne */
   
  }

  .menu .nav-item {
    width: 100%;
    margin-bottom: 10px;
    
  }
  
  

  .row {
    flex-direction: column;
  }

  .footer-logo,
  .liens ul,
  .gmail,
  .youtube,
  .facebook {
    align-items: center;
    text-align: center;
  }

  .liens ul {
    align-items: center;
  }

  .gmail, .youtube, .facebook {
    margin: 10px 5px;
  }

  .footer-description {
    text-align: center;
  }

  .row.mt-3 {
    justify-content: center;
  }
  .logos-droite {
    order: -1; 
    justify-content: flex-start; 
    visibility: hidden;
  }

  
  
  .logoprincip{
   width: 100%;
   font-size: 20px;
   margin-left: -70px;
  }
  .callToAction{
    align-items: center;
    justify-content: center;
    width: 190px;
  }
  h1 {
  font-size: 13px;
  font-variant: "regular";
}

.btntitre{
  width: 6px;
}
.btn-degrade{
  width: 80px;
  height: auto ;
  font-size: 8px;

}
h2 {
  font-size: 13px;
  font-variant: "regular";
}
video{
  width: 190px;
  margin: 6px;
  padding: 2px;
}
.media{
  align-items: center;
  justify-content: center;
}
.youtube{
  margin-bottom: 2px;
}

}

/* PAGE CHOIX*/
.extrait, 
.mariage, 
.deces{
display: block;
background: #ffff;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
width: 800px;
height: auto;
margin: 20px;
padding: 2px;


}
h3{
  text-align: center;
  padding: 5px;
  margin: 5px;

}
.choix{
  margin-top: 90px;
  padding-top: 40px;
}
.doc{
  position: relative;
  width: 120px;
  vertical-align: baseline; 
  padding: 3px;
  margin: 5px;
  text-align: left;
}
.conteneur{
  align-items: center;
  justify-content: center;
}
.choix-section {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 30px;
}
#strong{
  position: relative;
  padding: 5px;
  margin-left: 150px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 25px;
  padding-bottom: 5px;
  padding-top: 10px;
  text-align: left;
}
.titre-acte {
  margin-top: 40px !important; 
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}

@media (max-width: 768px) {
.en-tete .et {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  background-color: #ff6600ea;
  padding: 0 10px;
  z-index: 2;
}

.R {
  margin-top: 80px;
  margin-left: 0;
  padding: 0 10px;
}

.feuille,.feuille2 {
    padding: 15px;
  }
 .div_acte {
    flex-direction: column;
  }

  .feuille2 input {
    font-size: 14px;
  }

  h2, h3, h4 {
    font-size: 18px;
  }
/*.row{
  width: 50%;
}*/
}
/*PAGE RENSEIGNEMENT*/
.feuille {
  background: radial-gradient(circle, white 0%, #ff6600 100%);
  padding: 20px;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
}
.feuille2 {
  background: white;
  width: 100%;
  padding: 30px;
}

.feuille2 h3 {
  text-align: left;
  font-size: 24px;
  color: #ff6600;
  margin-bottom: 20px;
}

.R{
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
.acte{
  padding: 5px;
}
h6{
  padding: 2px;
}

.div_acte p,
.cont_acte p,
.infoper p {
  flex: 1 1 100%;
  margin-bottom: 10px;
}



/*************PAGE CONNEXION/INSCRIPTION*****************/



.b2 {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to right, white, #ff6600);
    

  /* Ajout nécessaire pour centrer .sign */
  display: flex;
  justify-content: center; 
  align-items: center;     
}
.sign {
  display: flex;
  text-align: center;
  width: 800px;
  height: 500px;
  background-color: #e0f7fa;

  
  justify-content: space-around;
  align-items: center;
}

.connexion, .inscription {
  width: 300px;
  height: 400px;
  background-color: white;
  border: 1px solid #ccc;
}
/* PAGE ADMIN*/
.barmenu{
  background: #ffff;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  width: 83%;
  height: 50px;
  z-index: 1000;
  position: fixed;
  top:0;
  left:17%
  
}
.ci-logo{
  width: 34px;
  height: 25px;
}
.sp-logo{
  width: 36px;
  height: 32px;
}

.search{
  width: 20px;
  height: 20px;
}
.user-ad{
  width: 18px;
  height: 18px;
  margin-top: 20px;
  border: 1px solid #ff6600;
  border-radius: 100%;
}
.menu-ad{
 width: 27px;
 height: 27px;
 margin-top: 24px;
 opacity: 80%;
}
.menu-lateral{
  transition: transform 0.3s ease;
  background: #FF6600;
  top: 0;
  left: 0;
  width: 17%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10;
  

}
#nom-ad{
  margin-top: 21px;
  color: #ff6600;
  font-size: 13px;
}
.admin{
  gap: 2px;
}

#search{
  width: 149px;
  height: 19px;
  margin-top: 13px;
}
.search{
  width: 15px;
  height: 15px;
  margin-top: 8px;
}
.dashboard{
  margin-top: 25px
}
.digi-logo{
  color: #fff;
  font-size: 25px;
}
.ad-nav ul li{
display: block;
font-size:13px ;
margin: 5px;
padding: 10px;
color: #fff;

}
.ad-nav ul li a{
color: #fff;
text-decoration: none;
box-sizing: border-box;
}
.ad-nav ul li a:hover{
  background: #aaaaaa62;
  width: 185px;
  height:24px ;

}

.ic-home , .ic-da , .ic-v , .ic-r , .stats{
  width: 15px;
  height: 15px;
  margin: 3px;
}
.li-ad a{
  width: 180px;
  display: flex;
  align-items: center;
}
.li-ad a.active {
  background-color: #fff;
  color: #FF6600;
  font-weight: bold;
  border-radius: 4px;
}

.li-ad {
  display: block;
  width: 100%;
  border-radius: 5px 0px 0px 5px;
  transition: background 0.3s;
}
.dash-tr , .dash-at , .div-t{
  background: #aaaaaa1e;
  width: 450px;
  height: auto;
  min-height: 170px;
  margin-top: -50px;
 

}
.rect{
  gap: 100px;
  margin-left: 230px;
  text-align: end;
  align-items: center;
  flex-wrap: wrap;
}
.doc-at,.doc-tr{
width: 70px;
margin: 20px;
}
.nb-d{
  margin-left:-300px;
  margin-top: -45px;
  font-size: 40px;
}
.st{
  text-align: left;
  padding: 10px;
  margin-bottom: 20px;
}
.div-t{
  width: 1010px;
  margin-left: 300px;
  margin-top: 50px;
  height: 350px;
}
.div-t > .tables{
   background: #aaaaaa75;

}

.detail>.l-flèche>.flèche{
  width: 20px;
}

/*DATATABLE*/

.datatable{
  margin-top: 50px;
}
.dt-title{
  color:#000;
  margin-left: 300px;
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 0.5px;
}

/*Page pre*/
.PR{
  display: flex;
  justify-content: center;
  margin-top: -800px;
  width: 800px;
  margin-left: 400px;
}
.boutton{
  margin-left: 450px;
}
.pre-itm{
  padding: 7px;
}


.conteneur-rect {
  margin-top: 110px;
  width: 100%;
  padding: 20px;
}


@media (max-width: 768px) {
  .menu-lateral{
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 70%; 
    height: 100vh;
    background-color: #FF6600;
    z-index: 999;
    padding: 20px;
    box-shadow: 2px 0 10px rgba(0,0,0,0.3);
  }
   .conteneur-rect{
    width: 50%;
   }
    .table-group-divider{
    width: 50%;
   }
   .menu-lateral.active {
    display: block;
  transform: translateX(0);
}
   .menu-ad {
    display: block;
    cursor: pointer;}

    .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.3);
    z-index: 998;
  }
   .overlay.active {
    display: block;
  }
   

   .rect {
    margin-left: 0; 
    padding: 0 15px; 
    text-align: center;
    gap: 30px;
    flex-direction: column;
    gap: 30px;
  }
 
  .table th,
  .table td {
    font-size: 14px;
    padding: 8px;
  }

  .table {
    white-space: nowrap;
  }
  .div-t {
    width: 100%;
    margin-left: 70px;
    margin-right: 0px;
    padding: 0 15px;
    box-sizing: border-box;
  }
  .barmenu{
    left: 0;
    width: 100%;
  }
 
}
